---
import { css } from "../../styled-system/css";
import { FiLink } from "react-icons/fi";
import type { Member as MemberType } from "../types/member";
import { Image } from "astro:assets";

const {
  name,
  altName,
  role,
  link,
  color = "#000",
  image = "/default_icon.jpg",
} = Astro.props as MemberType;
---

<div
  style={{ backgroundColor: color }}
  class={css({
    color: "#fff",
    boxShadow: "0 0 6px #6666",
    width: "200px",
    overflow: "hidden",
  })}
>
  <Image src={image} alt={name} width={200} height={200} />
  <div class={css({ padding: "0 .5rem 1rem .5rem", textAlign: "center" })}>
    <h3
      style={{ backgroundColor: color }}
      class={css({
        fontSize: "1.1rem",
        fontWeight: "bold",
        margin: "0",
        padding: "0.5rem",
        color: "#fff",
      })}
    >
      {altName ?? name}
    </h3>
    <p class={css({ wordBreak: "keep-all", fontWeight: 700 })}>
      {role}
    </p>
    {
      link && (
        <a
          href={link}
          class={css({
            color: "{colors.rose.400}",
            display: "flex",
            alignItems: "center",
            gap: ".2rem",
            borderBottom: "1px solid",
            width: "fit-content",
            margin: ".3rem auto 0",
            "&:hover": {
              color: "{colors.rose.500}",
            },
          })}
        >
          <FiLink />
          Link
        </a>
      )
    }
  </div>
</div>
