---
import NarrowHeader from "../components/NarrowHeader.astro";
import WideHeader from "../components/WideHeader.astro";
import { css } from "../../styled-system/css";
import "@fontsource-variable/noto-sans-jp";
interface Props {
  title: string;
  path: string;
}
const { title, path } = Astro.props;

const links = [
  { label: "Top", path: "/" },
  { label: "研究内容", path: "/study" },
  { label: "研究成果", path: "/result" },
  { label: "教員プロフィール", path: "/profile" },
  { label: "メンバー", path: "/members" },
  { label: "活動報告", path: "/reports" },
  {
    label: "学内ページ",
    path: "https://sites.google.com/shibaura-it.ac.jp/manabe-intra/",
  },
];
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="ScombZ Utiliesで、ScombZをもっと便利に。"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="google-site-verification"
      content="_hycogv11tb4ZSjSPQdAp1TJ_H0n42r43ViLtRjePzA"
    />
  </head>
  <body class={css({ margin: 0, fontFamily: "Noto Sans JP" })}>
    <WideHeader nowPath={path} links={links} />
    <NarrowHeader nowPath={path} links={links} />
    <slot />
    <footer
      class={css({
        textAlign: "center",
        px: 4,
        py: 6,
        width: "100%",
        bgColor: "#272727",
        color: "#939393",
      })}
    >
      <p>東京都江東区豊洲3-7-5 研究棟 13M32</p>
    </footer>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
