---
import { MdArrowBackIos } from "react-icons/md";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import "../index.css";
import { css } from "../../styled-system/css";

type Props = CollectionEntry<"reports">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags = [],
} = Astro.props;
---

<Layout title={title} path="/reports">
  <body>
    <main
      class={css({
        py: "2rem",
        mx: "1rem",
      })}
    >
      <article>
        <div
          class={css({
            width: "100%",
          })}
        >
          {
            heroImage && (
              <img
                src={heroImage}
                alt=""
                class={css({
                  width: "95%",
                  maxWidth: "700px",
                  borderRadius: "0.5em",
                  boxShadow: "0 0 0.5em #0004",
                  margin: "auto",
                })}
              />
            )
          }
        </div>
        <div class={css({ maxWidth: "720px", margin: "2rem auto" })}>
          <div
            class={css({
              _after: {
                content: "''",
                display: "block",
                width: "70%",
                margin: "1rem auto",
                height: "3px",
                backgroundColor: "#e96656",
              },
            })}
          >
            <h1
              class={css({
                fontSize: "1.4rem",
                fontWeight: "bold",
                textAlign: "center",
                textWrap: "wrap",
                wordBreak: "auto-phrase",
              })}
            >
              {title}
            </h1>
          </div>

          <div class={css({ margin: "0 auto" })}>
            <div class={css({ display: "flex", gap: "1em" })}>
              <p>カテゴリ:</p>
              {
                tags.map((tag) => (
                  <div
                    class={css({
                      display: "inline-block",
                      color: "#666",
                    })}
                  >
                    {tag}
                  </div>
                ))
              }
            </div>
          </div>
          <div
            class={css({
              margin: "0 auto",
              marginBottom: "2rem",
              textAlign: "right",
            })}
          >
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div>
                  最終更新: <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <div class="markdown">
            <slot />
          </div>
          <a href="/reports">
            <div
              class={css({
                display: "flex",
                gap: "0.5em",
                alignItems: "center",
                mt: "3rem",
                color: "{colors.rose.700}",
                "&:hover": {
                  color: "{colors.rose.900}",
                },
              })}
            >
              <MdArrowBackIos />
              <div
                class={css({
                  borderBottom: "1px solid",
                })}
              >
                活動報告一覧にもどる
              </div>
            </div>
          </a>
        </div>
      </article>
    </main>
  </body>
</Layout>
<style>
  .markdown {
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h3 {
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h4 {
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h5 {
      font-size: 1em;
      font-weight: bold;
    }
    h6 {
      font-size: 1em;
      font-weight: bold;
    }
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    code {
      padding: 0.1em 0.25em;
      border-radius: 0.25em;
    }
    ul {
      list-style-type: disc;
      margin: 0;
      padding: 0;
    }
    ul ul {
      list-style-type: circle;
      margin-left: 20px;
    }

    a {
      color: #e11d48;
      text-decoration: underline;
    }
  }
</style>
