---
import { MdArrowBackIos } from "react-icons/md";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import "../index.css";
import { css } from "../../styled-system/css";
import SideBar from "../components/SideBar.astro";
import { format } from "date-fns-tz";

type Props = CollectionEntry<"reports">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags = [],
} = Astro.props;
---

<Layout title={title} path="/reports">
  <div class={css({ maxWidth: "1400px", mx: "auto", pb: "3rem" })}>
    <div
      class={css({
        py: "2rem",
        mx: "1rem",
        display: "flex",
        justifyContent: "space-between",
        flexDirection: "column",
        xl: { flexDirection: "row" },
      })}
    >
      <article class={css({ width: "90%", xl: { width: "70%" }, mx: "auto" })}>
        <div
          class={css({
            width: "100%",
          })}
        >
          {
            heroImage && (
              <img
                src={heroImage}
                alt=""
                class={css({
                  maxWidth: "800px",
                  width: "95%",
                  borderRadius: "0.5em",
                  boxShadow: "0 0 0.5em #0004",
                  margin: "auto",
                })}
              />
            )
          }
        </div>
        <div class={css({ margin: "2rem auto" })}>
          <div
            class={css({
              _after: {
                content: "''",
                display: "block",
                width: "70%",
                margin: "1rem auto",
                height: "3px",
                backgroundColor: "#e96656",
              },
            })}
          >
            <h1
              class={css({
                fontSize: "1.4rem",
                fontWeight: "bold",
                textAlign: "center",
                textWrap: "wrap",
                wordBreak: "auto-phrase",
              })}
            >
              {title}
            </h1>
          </div>

          <div class={css({ margin: "0 auto" })}>
            <div class={css({ display: "flex", gap: "1em" })}>
              <p>カテゴリ:</p>
              {
                tags.map((tag) => (
                  <a
                    class={css({
                      display: "inline-block",
                      color: "#666",
                      cursor: "pointer",
                      "&:hover": {
                        textDecoration: "underline",
                      },
                    })}
                    href={`/reports/tags/${tag}`}
                  >
                    {tag}
                  </a>
                ))
              }
            </div>
          </div>
          <div
            class={css({
              margin: "0 auto",
              marginBottom: "2rem",
              textAlign: "right",
            })}
          >
            <a
              href={`/reports/year/${format(pubDate, "yyyy")}`}
              class={css({
                "&:hover": { textDecoration: "underline" },
              })}
            >
              <FormattedDate date={pubDate} />
            </a>
            {
              updatedDate && (
                <div>
                  最終更新: <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <div class="markdown">
            <slot />
          </div>
          <a href="/reports">
            <div
              class={css({
                display: "flex",
                gap: "0.5em",
                alignItems: "center",
                mt: "3rem",
                color: "{colors.rose.700}",
                "&:hover": {
                  color: "{colors.rose.900}",
                },
              })}
            >
              <MdArrowBackIos />
              <div
                class={css({
                  borderBottom: "1px solid",
                })}
              >
                活動報告一覧にもどる
              </div>
            </div>
          </a>
        </div>
      </article>
      <SideBar />
    </div>
  </div>
</Layout>
